SvgPanel {
    width: 16px;
    height: 16px;
    background-size-x: 100%;
    align-self: center;
    top: -1px;
    padding: 0 8px;
}

IconifyPanel, iconify {
    padding: 0 8px;
}

IconifyPanel:first-child, iconify:first-child {
    padding-left: 0;
}

IconifyPanel:last-child, iconify:last-child {
    padding-right: 0;
}
